.App {
  text-align: center;
  padding: 15px;
  background-color: bisque;
  height: 100vh;
}

.songContainer{
  margin-top: 40px;
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

